*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    background-color:cornflowerblue;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    /* position: relative; */
    text-align: center;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 30px ;
}
#divimage{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin: 10px 0;
}

#card h5{
    font-size: 25px;
    color: red;
    font-weight: 700;
    margin-bottom: 20px;
}
#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
#card #remove{
    color: black;
    background-color: #dadada;
}
